In [3]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [4]:
class Gizmo:
    def __init__(self):
        print(f'Gizmo id: {id(self)}')
x = Gizmo()

Gizmo id: 138898572310992

In [6]:
y = Gizmo() * 10
#곱셈을 시도하기 전에 두 번째 Gizmo 객체가 생성되었음

Gizmo id: 138898572311520

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [7]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [8]:
charles = {'name' : 'Charles L. Dodgson', 'born':1832}
lewis = charles

In [9]:
lewis is charles

True

In [10]:
id(charles), id(lewis)

(138898569448704, 138898569448704)

In [11]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [12]:
alex = {'name' : 'Charles L. Dodgson', 'born':1832, 'balance':950}
alex == charles

True

In [13]:
alex is charles

False

In [14]:
t1 = (1,2, [30,40])
t2 = (1,2, [30,40])
t1 == t2, t1 is t2

(True, False)

In [15]:
id(t1[-1])

138898569201600

In [16]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 138898569201600)

In [17]:
t1 == t2

False

In [18]:
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [19]:
l1.append((100))

In [20]:
l1[1].remove((55))
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [21]:
l2[1] += [33,22]
l2[2] += (10,11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [22]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [23]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(138898575165712, 138898575172000, 138898575164944)

In [24]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [25]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(138898569425024, 138898569425024, 138898569639424)

In [26]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [27]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [30]:
def f(a, b):
    a += b
    return a
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [31]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [32]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [33]:
class HauntedBus:
    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [34]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [35]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [36]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [37]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [38]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [39]:
bus2.passengers is bus3.passengers

True

In [40]:
bus1.passengers

['Bill', 'Charlie']

In [41]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [42]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [43]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [44]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [45]:
import weakref

In [46]:
s1 = {1,2,3}
s2 = s1
def bye():
    print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
ender.alive

True

In [47]:
del s1
ender.alive

True

In [50]:
s2 = 'spam'

In [49]:
ender.alive

False